<html>
   
     <body>

        <h1> Welcome : {{userID}} </h1>
        <h3> {{timeup}} </h3>
        <h3>All flights : {{userID}}</h3>
        <table id="userTable">
            <thead> 
<tr> 
            <th>Date</th>
            <th>Name</th>
            <th>Hub City</th>
            <th>Vacation City</th>
            </tr> 
</thead>
<tbody>
            {% for item in items %}
            <tr>
                <td><h5>{{ item['date'] }}</h5></td>
                
                <td>
                    <h5> {{ item['name'] }}<h5>
                </td>
                <td>
                        <h5> {{ item['hub'] }}<h5>
                </td>
                <br>
                 <td>
                        <h5>{{ item['vacation'] }}<h5>
                </td>
               </tr>
                
            {% endfor %} 
            </tbody>    
        </table>
    </body>
</html>
<style>
    table, th, td {
   border: 1px solid black;
}
    </style>