<html>
<body>
<img src="C:\Users\Admin pc\Desktop\quiz8\logo.jpg" alt="image"style="width:150px;height:128px;>
	<table>
		<tr>
			<td><img src="C:\Users\Admin pc\Desktop\quiz8\logo.jpg" alt="image"style="width:150px;height:128px;></td>
		</tr>
		<tr>
			<td><h1 id = "message"></h1></td>
		</tr>
		<tr>
			<td><h4 id = "message"><b>PRATIRA ZADOO</b>, <b>ID:</b> 1001236756 </h4></td><br>
		</tr>
		<tr>
			<td><h4 id = "message"><b>Welcome to CloudAir, {{ user }}</b></h4></td><br>
		</tr>
		<tr>
			<td>
				<form action="/flight" method="post" enctype="multipart/form-data">
				Hub City: <select name = 'hub'>
									<option value = 'GP'> Grand Prairie (GP)</option>
									<option value = 'ARL'> Arlington (ARL)</option><br>
								</select>
				Vacation City: <select name = 'vacation'>
										<option value = 'MIA'> Miami (MIA) </option>
										<option value = 'LA'> LosAngeles (LA) </option>
										<option value = 'SEA'> Seattle (SEA)  </option>
										<option value = 'LI'> LongIsland (LI) </option>
										<br>
									</select>
				Enter date: <input type="text" name="date_of_travel"><br>
				<input type="submit" value="Check Flights" name="flight"><br>
				<input type="submit" value="Make Reservation" name="reservation">
				</form>
			</td>
		</tr>
		
		<tr>
			<td>
				<form action="/enterdate" method="post" enctype="multipart/form-data">
				<h3><b> Enter a date to view passengers traveling on that date:  </b></h3>
				<input type="text" name="enterdate"><br>
				<input type="submit" value="date" name="enterdate">
				</form>
			</td>
		</tr>
		
	</table>
</body>
</html>